<div class="wrapper">
  <app-admin-header></app-admin-header>
  <app-admin-sidebar></app-admin-sidebar>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a [routerLink]="'/' + dashboardRoute">Home</a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"
                ><i class="fas fa-car"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Car Book</span>
                <span class="info-box-number"> 10 </span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"
                ><i class="fas fa-users"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Contact</span>
                <span class="info-box-number">20</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Latest Car Booking</h3>
            <div class="card-tools">
              <button class="btn btn-success" [routerLink]="'/'+bookingPageRoute">View All Booking</button>
            </div>
            <!-- <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="remove"
              >
                <i class="fas fa-times"></i>
              </button>
            </div> -->
          </div>

          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a>BK1</a>
                    </td>
                    <td>Smith</td>
                    <td>
                      <p>9999999999</p>
                    </td>
                    <td>
                      <div
                        class="sparkbar"
                        data-color="#00a65a"
                        data-height="20"
                      >
                        ABC 123, XYZ , Australia
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a>BK2</a>
                    </td>
                    <td>Smith</td>
                    <td>
                      <p>9999999999</p>
                    </td>
                    <td>
                      <div
                        class="sparkbar"
                        data-color="#00a65a"
                        data-height="20"
                      >
                        ABC 123, XYZ , Australia
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a>BK3</a>
                    </td>
                    <td>Smith</td>
                    <td>
                      <p>9999999999</p>
                    </td>
                    <td>
                      <div
                        class="sparkbar"
                        data-color="#00a65a"
                        data-height="20"
                      >
                        ABC 123, XYZ , Australia
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a>BK4</a>
                    </td>
                    <td>Smith</td>
                    <td>
                      <p>9999999999</p>
                    </td>
                    <td>
                      <div
                        class="sparkbar"
                        data-color="#00a65a"
                        data-height="20"
                      >
                        ABC 123, XYZ , Australia
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a>BK5</a>
                    </td>
                    <td>Smith</td>
                    <td>
                      <p>9999999999</p>
                    </td>
                    <td>
                      <div
                        class="sparkbar"
                        data-color="#00a65a"
                        data-height="20"
                      >
                        ABC 123, XYZ , Australia
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="card-footer clearfix">
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-secondary float-right"
              >View All Booking</a
            >
          </div> -->
        </div>

        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Latest Blogs</h3>
            <div class="card-tools">
              <button class="btn btn-success" [routerLink]="'/'+BlogPageRoute">View All Blogs</button>
            </div>
          </div>

          <div class="card-body p-0">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon">
                    <img
                      src="../../../../../../assets/img/photo3.jpg"
                      style="width: 100px"
                      alt=""
                  /></span>
                  <div class="info-box-content">
                    <span class="info-box-number" style="cursor: pointer;" [routerLink]="'/'+BlogPageRoute">Lorem ipsum</span>
                    <span class="info-box-text"> Lorem ipsum dolor....</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon">
                    <img
                      src="../../../../../../assets/img/photo3.jpg"
                      style="width: 100px"
                      alt=""
                  /></span>
                  <div class="info-box-content">
                    <span class="info-box-number" style="cursor: pointer;" [routerLink]="'/'+BlogPageRoute">Lorem ipsum</span>
                    <span class="info-box-text"> Lorem ipsum dolor....</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon">
                    <img
                      src="../../../../../../assets/img/photo3.jpg"
                      style="width: 100px"
                      alt=""
                  /></span>
                  <div class="info-box-content">
                    <span class="info-box-number" style="cursor: pointer;" [routerLink]="'/'+BlogPageRoute">Lorem ipsum</span>
                    <span class="info-box-text"> Lorem ipsum dolor....</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon">
                    <img
                      src="../../../../../../assets/img/photo3.jpg"
                      style="width: 100px"
                      alt=""
                  /></span>
                  <div class="info-box-content">
                    <span class="info-box-number" style="cursor: pointer;" [routerLink]="'/'+BlogPageRoute">Lorem ipsum</span>
                    <span class="info-box-text"> Lorem ipsum dolor....</span>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-admin-footer></app-admin-footer>
</div>
