<div class="wrapper">
    <app-admin-header></app-admin-header>
    <app-admin-sidebar></app-admin-sidebar>
  
    <div class="content-wrapper" style="min-height: 1604.8px">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Service</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Service</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <app-admin-footer></app-admin-footer>
  </div>
  