<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#4586FF"
  type="cog"
  [fullScreen]="true"
  template=""
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="wrapper">
  <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a><b>Admin</b></a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign-In</p>
          <form [formGroup]="loginForm">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="emailId"
                [ngClass]="{
                  'is-invalid': submitted && f.emailId.errors
                }"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                <div *ngIf="f.emailId.errors.required">Email is required</div>
                <div *ngIf="f.emailId.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': submitted && f.password.errors
                }"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button (click)="login()" class="btn btn-primary btn-block">
                  Sign In
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
