<div class="wrapper" style="   display: flex;
align-items: center;
flex-direction: column; 
justify-content: center;
width: 100%;
min-height: 100%;
padding: 20px;">
    <div id="formContent">
      <div class="first">
        <img src="../../../../../assets/img/avatar.png" id="icon" class="profile-user-img img-fluid img-circle" alt="User Icon" />
      </div>
      <form>
        <input type="text" id="login" class="second" name="email" placeholder="Enter Your Email">
        <input type="password" id="password" class="third" name="password" placeholder="Enter Your Password">
        <input type="submit" class="fourth" value="Log In">
      </form>
    </div>
  </div>

  