<app-header></app-header>

<!-- End banner Area -->

<!-- Start services Area -->
<section class="services-area pt-60 mt-60">
  <div class="container">
    <div class="row section-title">
      <h1>What Services we offer to our clients</h1>
      <p>Who are in extremely love with eco friendly system.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 single-service">
        <span class="lnr lnr-car"></span>
        <a href="#">
          <h4>Taxi Service</h4>
        </a>
        <p>
          Usage of the Internet is becoming more common due to rapid advancement
          of technology and power.
        </p>
      </div>
      <div class="col-lg-4 single-service">
        <span class="lnr lnr-briefcase"></span>
        <a href="#">
          <h4>Office Pick-ups</h4>
        </a>
        <p>
          Usage of the Internet is becoming more common due to rapid advancement
          of technology and power.
        </p>
      </div>
      <div class="col-lg-4 single-service">
        <span class="lnr lnr-bus"></span>
        <a href="#">
          <h4>Event Transportation</h4>
        </a>
        <p>
          Usage of the Internet is becoming more common due to rapid advancement
          of technology and power.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End services Area -->

<div class="d-flex pt-60 pb-60 flex-wrap">
  <div class="col-md-4" style="padding-left: 0">
    <div class="welc_bp">
      <img class="img-fluid" src="../../../../../assets/front/img/home-img-1.jpg" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="welc_ap m-auto text-center">
      <h1>
        <span>WELCOME TO</span><br />
        SILVER SYDNEY TAXI SERVICE
      </h1>
      <h3 class="text-center" style="color: #004990; margin-bottom: 10px">
        <strong>We Provide Professional Airport Service in Sydney (NSW)</strong>
      </h3>
      <p class="text-center" style="font-size: 15pt">
        We provide taxi services across Sydney and surrounding suburbs including
        Sydney CBD, Northshore area, Northern Beaches, Western Suburbs,
        South-West Sydney and North-West Hills District as well as Transfers to
        out of Sydney district.
      </p>
      <div class="welc_mor text-center">
        <a href="about-us.html" class="genric-btn primary">READ FULL DETAILS</a>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="padding-right: 0">
    <div class="welc_bp">
      <img class="img-fluid" src="../../../../../assets/front/img/home-img-2.jpg" />
    </div>
  </div>
</div>
<app-footer></app-footer>
