<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a  [routerLink]="'/'+dashboardRoute" class="brand-link">
    <!-- <img
      src="../../../../assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    /> -->
    <i class="nav-icon fas fa-car"
    style="opacity: 0.8;padding: 10px;color: #007bff;font-size: 25px;" ></i>
    <span class="brand-text font-weight-light">Car Booking</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="../../../../assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="'/'+profileRoute" class="d-block">Admin Demo</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item menu-open">
          <a [routerLink]="'/'+dashboardRoute" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/'+bookingList" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>
              Booking List
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Pages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="'/'+homeRoute" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'/'+aboutRoute" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>About</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'/'+serviceRoute" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Our Service</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'/'+contactRoute" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contact us</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'/'+privacyRoute" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Privacy</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/'+settingRoute" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-wrench"></i>
            <p>
              Setting
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
